<div class="portfolio" id="portfolio">
    <div class="header">
      <div class="info">
        <h3 style="color: #5e3bee; font-size: 30px;">Proyectos</h3>
      </div>
    </div>

    <div class="portfo-items">
      <div class="item">
        <img src="../../assets/Agrosabio.png">
        <div class="info">
          <h4>AgroSabio </h4>
          <p>
            La plataforma recopila datos meteorológicos y del suelo a través de sensores conectados, procesando esta información para generar informes automáticos que sugieren acciones óptimas de manejo agrícola. Además, promueve la sostenibilidad al reducir el uso de agua y químicos mediante un monitoreo inteligente del suelo y las condiciones climáticas.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="../../assets/Agrosabio.png">
        <div class="info">
          <h4>AgroSabio </h4>
          <p>
            La plataforma recopila datos meteorológicos y del suelo a través de sensores conectados, procesando esta información para generar informes automáticos que sugieren acciones óptimas de manejo agrícola. Además, promueve la sostenibilidad al reducir el uso de agua y químicos mediante un monitoreo inteligente del suelo y las condiciones climáticas.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="../../assets/Agrosabio.png">
        <div class="info">
          <h4>AgroSabio </h4>
          <p>
            La plataforma recopila datos meteorológicos y del suelo a través de sensores conectados, procesando esta información para generar informes automáticos que sugieren acciones óptimas de manejo agrícola. Además, promueve la sostenibilidad al reducir el uso de agua y químicos mediante un monitoreo inteligente del suelo y las condiciones climáticas.
          </p>
        </div>
      </div>
    </div>

  </div>