.contactame {
    background-color: #003344;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .contactame form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #003344;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  button {
    background-color: #02577a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #02495c;
  }
  