<div class="about" id="about">
    <div class="left">
      <img src="assets/foto.jpg" height="450px">
    </div>
    <div class="right">
      <h2 style="color: #5e3bee;">Sobre mí</h2>
      <p>
        Me llamo Luis Guillermo Isidoro Galindo, pero mis amigos me llaman Memo. Empece en ofimatica desde los 12 años
        pero me adentre en el mundo de la programación a los 18 años.
      </p>

      <p>
        Actualmente soy un desarrollador Full Stack, con conocimientos en el desarrollo de aplicaciones web y móviles.
        Me encanta aprender nuevas tecnologías y compartir mis conocimientos con la comunidad y compañeros.
      </p>

      <p>
        Mi objetivo mejorar el accesso a software de calidad y poder dejar una huella en la comunidad de desarrollo.
      </p>
    </div>
  </div>