<div class="habilidades-container">
    <h1>Habilidades</h1>
    <div class="habilidades">
      <div class="habilidad">
        <h2>Angular</h2>
        <p>Experiencia en desarrollo de aplicaciones SPA utilizando Angular.</p>
      </div>
      <div class="habilidad">
        <h2>JavaScript</h2>
        <p>Capacidad para escribir código JavaScript limpio y eficiente.</p>
      </div>
      <div class="habilidad">
        <h2>MongoDB</h2>
        <p>Experto en CSS moderno, incluyendo Flexbox y Grid.</p>
      </div>
      <div class="habilidad">
        <h2>HTML</h2>
        <p>Experto en CSS moderno, incluyendo Flexbox y Grid.</p>
      </div>
      <div class="habilidad">
        <h2>CSS</h2>
        <p>Experto en CSS moderno, incluyendo Flexbox y Grid.</p>
      </div>
      <div class="habilidad">
        <h2>Java</h2>
        <p>Experto en CSS moderno, incluyendo Flexbox y Grid.</p>
      </div>
      <div class="habilidad">
        <h2>MySQL</h2>
        <p>Experto en CSS moderno, incluyendo Flexbox y Grid.</p>
      </div>
    </div>
  </div>
  