<div class="skills">
  <div class="left">
    <div class="info">
      <h3 style="color: #5e3bee;">Cualés son mis habilidades?</h3>
      <p>
        Desarrollador Full Stack en la creación de aplicaciones web y móviles. Conocimientos
        en el desarrollo de aplicaciones web con las siguientes tecnologías:
      </p>
    </div>
  </div>

  <div class="right">
    <div class="item">
      <i class='bx bxl-html5'></i>
    </div>
    <div class="item">
      <i class='bx bxl-css3'></i>
    </div>
    <div class="item">
      <i class='bx bxl-typescript'></i>
    </div>
    <div class="item">
      <i class='bx bxl-git'></i>
    </div>
    <div class="item">
      <i class='bx bxl-bootstrap'></i>
    </div>
    <div class="item">
      <i class='bx bxl-php'></i>
    </div>
    <div class="item">
      <i class='bx bxl-sass'></i>
    </div>
    <div class="item">
      <i class='bx bxl-tailwind-css'></i>
    </div>
    <div class="item">
      <i class='bx bxl-mongodb'></i>
    </div>
    <div class="item">
      <i class='bx bxl-graphql'></i>
    </div>
    <div class="item">
      <i class='bx bxl-jquery'></i>
    </div>
    <div class="item">
      <i class='bx bxl-angular'></i>
    </div>
  </div>

</div> 