<div class="habilidades-container">
  <h1>Habilidades</h1>
  <div class="habilidades">
      <div class="habilidad">
          <img src="/assets/angular.png" alt="Angular" width="100" height="100">
          <h2>Angular</h2>
      </div>
      <div class="habilidad">
          <img src="/assets/javascript.JPG" alt="JavaScript" width="100" height="100">
          <h2>JavaScript</h2>
      </div>
      <div class="habilidad">
          <img src="/assets/mongo.JPG" alt="MongoDB" width="100" height="100">
          <h2>MongoDB</h2>
      </div>
      <div class="habilidad">
          <img src="/assets/html.JPG" alt="HTML" width="100" height="100">
          <h2>HTML</h2>
      </div>
      <div class="habilidad">
          <img src="/assets/java.JPG" alt="Java" width="100" height="100">
          <h2>Java</h2>
      </div>
      <div class="habilidad">
          <img src="/assets/postgres.JPG" alt="Postgres" width="100" height="100">
          <h2>Postgres</h2>
      </div>
  </div>
</div>
